name: verify-all-checks-are-succeeded
run-name: ${{ github.head_ref || github.ref_name }}-${{ github.run_number }} 
on:
  check_suite:
    types:
      - completed
jobs: 
  enforce-all-checks:
    runs-on: ubuntu-latest
    permissions:
      checks: read
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1.8.0
        with:
          app_id: ${{ secrets.CLEVERTAP_PLATFORM_BOT_ID }}
          private_key: ${{ secrets.CLEVERTAP_PLATFORM_BOT_PRIVATE_ACCESS_KEY }}
      - name: Check if all checks succeeded
        uses: poseidon/wait-for-status-checks@v0.3.0
        with:
          token: ${{ steps.generate_token.outputs.token }}
          interval: 30s
          timeout: 300s
  